<% include header %>
	<div class="container">
		<div class="page-header">
  		<h1><%=data.title%><small>作者：<%=data.author%></small></h1>
		</div>
		<span style="font-size: 10px;color:#ccc">关键词：<%=data.keyword%></span>
		<div>
			<p><%-data.content%></p>
		</div>
	</div>
<% include footer %>   